<!-- IGNORE WHAT'S ON THIS PAGE -->

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Biodiversity Tracker</title>
		
		<h1>Welcome to our Biodiversity Tracker page</h1>
		<style type="text/css">
			h1
			{
				font-size: 30px;
				text-align: center;
				font-family: 'papyrus';
				
			}
		</style>
	</head>

	<body>
		<img src="{{ url_for('static',filename='background main page.jpg')}}"> 
	</body>

	<!--
	<style type="text/css">
		body
		{
			background-size: 100%;
			background-repeat: no-repeat;
		}
	</style>
	-->
</html>